@import "tailwindcss";

/* Satoshi Font Setup (OTF version) */

@font-face {
  font-family: "Satoshi";
  src: url("./assets/Font/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/Font/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/Font/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Apply globally */
body {
  font-family: "Satoshi", sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-marquee-left {
  animation: marquee-left 20s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 20s linear infinite;
}